<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h1 class="text-4xl font mt-4 mb-4">プロフィール設定</h1>
    </div>
    <div class="col-5 offset-1 text-center mt-3">夕ご飯</div>
    <div class="col-5 text-center mt-3">
      <%= @profile.dinner_time.strftime( "%H:%M" ) %>
    </div>
    <div class="col-5 offset-1 text-center mt-3">就寝時間</div>
    <div class="col-5 text-center mt-3">
      <%= @profile.bedtime.strftime( "%H:%M" ) %>
    </div>
    <div class="col-5 offset-1 text-center mt-3">休みの日</div>
    <div class="col-5 text-center mt-3">
      <% @profile.day_of_weeks.each do |day| %>
        <div class="d-flex flex-column bd-highlight">
          <div class="bd-highlight">
            <%= day.name %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-5 offset-1 text-center mt-3">配信設定</div>
    <div class="col-5 text-center mt-3">
      <%= @profile.notification_setting_i18n %>
    </div>
    <div class="text-end my-3">
      <%= link_to 'マイページへ戻る', root_path, class: 'btn btn-secondary btn-color mt-3 me-3' %>
    </div>
  </div>
</div>
