<%= form_with model: task, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-3">
    <%= f.label :title, class: "col-5 col-form-label" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :body, class: "col-5 col-form-label" %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :time_required, class: 'd-inline-flex' %>
      <%= f.collection_radio_buttons :time_required, Task.time_requireds_i18n, :first, :last do |b| %>
        <div class="form-check">
          <%= b.radio_button class: 'radio_button' %>
            <%= b.label class: 'form-check-label' %>
        </div>
      <% end %>
  </div>
  <div class="text-end mr-5">
  <%= f.submit '登録', class: 'btn btn-secondary btn-color' %>
  </div>
<% end %>
